<!DOCTYPE html>
<html>
  <head>
    <title>Devos</title>
  </head>

  <body>



  		<div>
	  		<%= link_to "Homepage", root_path, method: :get %>
	  		<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	  	</div>

	  	<%= react_component('ProfileREACT', {:profile => @profile,:editable => @editable}) %>
			
		<div class = "container">
				<%= render partial: "display_skills", locals: {:profile => @profile} %>


	 	 <%= react_component('UpdateSkillsREACT', {:profile => @profile, :editable => @editable}, :currState => @opened_page) %> 
	 	 <hr/>
	 	 
		</div>
  </body>
</html>
