<!DOCTYPE html>
<html>
  <head>
    <title>Devos</title>
   <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik" rel="stylesheet">
  </head>

  <body>

  	  	Logged In As: <%= @currentfullname%>
  		<div style = "float:right">
		  	<%= link_to "Homepage", root_path, method: :get %>  		
	  		<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	  	</div>

	  	<%= react_component('ProfileREACT', {:profile => @profile,:editable => @editable}) %>
			
		<div class = "container">
		
		<%= render partial: "display_skills", locals: {:profile => @profile} %>

	 	 <%= react_component('UpdateSkillsREACT', {:profile => @profile, :editable => @editable}, :currState => @opened_page) %> 
	 	 
		</div>
  </body>
</html>
